<!DOCTYPE html>
<html>
	<head>
		<title>Quiz</title>
		<link type='text/css' rel='stylesheet' href="{{ url_for('static', filename='js/quiz.css')}}"/>
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open Sans"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		<div id='container'>
			<div id='title'>
				<h1>Quiz</h1>
			</div>
   			<br/>
  			<div id='quiz'></div>
    		<div class='button' id='next'><a href='#'>Next</a></div>
    		<!--<div class='button' id='prev'><a href='#'>Prev</a></div>-->
    		<div class='button' id='start'> <a href='#'>Start Over</a></div>
    		<!-- <button class='' id='next'>Next</a></button>
    		<button class='' id='prev'>Prev</a></button>
    		<button class='' id='start'> Start Over</a></button> -->
    		<p id='time'></p>
    	</div>
  <script>
 //    $('#next').click(function() {
 //        $.ajax({
	// 		type:'POST',
	// 		url: 'foo',
	// 		data: {answer:"html"}
	// 	});				
	// });
	$(document).on('click', 'input[name="answer"]', function(){
		$.ajax({
			type:'POST',
			url: "{{url_for('click_count')}}",
			data:{option:$('input[name="answer"]:checked').val()},
		});
	});

  
  </script>

		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
		<!-- <script type="text/javascript" src='questions.json'></script> -->
		<script type='text/javascript' src="{{ url_for('static', filename='js/quiz.js')}}"></script>

	</body>
</html>
